In [1]:
import pandas as pd

Importing pandas library. right now there is pandas ai available. it is great to do analysis on data but to integrate into ML i think pandas is great for now atleast.

In [10]:
pd.DataFrame({'One': [1, 2, 3], 'Two': [4, 5, 6]}, index= ['A', 'B', 'C'])

   One  Two
A    1    4
B    2    5
C    3    6

In [9]:
pd.Series([1, 2, 3, 4, 5], index= ['A', 'B', 'C', 'D', 'E'], name= 'Random')

A    1
B    2
C    3
D    4
E    5
Name: Random, dtype: int64

In [17]:
w = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t', index_col= 2)
w.head()

,order_id,quantity,choice_description,item_price
item_name,,,,
Chips and Fresh Tomato Salsa,1,1,NaN,$2.39
Izze,1,1,[Clementine],$3.39
Nantucket Nectar,1,1,[Apple],$3.39
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
Chicken Bowl,2,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98