In [1]:
import pandas as pd

Importing pandas library. right now there is pandas ai available. it is great to do analysis on data but to integrate into ML i think pandas is great for now atleast.

In [10]:
pd.DataFrame({'One': [1, 2, 3], 'Two': [4, 5, 6]}, index= ['A', 'B', 'C'])

   One  Two
A    1    4
B    2    5
C    3    6

In [9]:
pd.Series([1, 2, 3, 4, 5], index= ['A', 'B', 'C', 'D', 'E'], name= 'Random')

A    1
B    2
C    3
D    4
E    5
Name: Random, dtype: int64

In [17]:
w = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t', index_col= 2)
w.head()

,order_id,quantity,choice_description,item_price
item_name,,,,
Chips and Fresh Tomato Salsa,1,1,NaN,$2.39
Izze,1,1,[Clementine],$3.39
Nantucket Nectar,1,1,[Apple],$3.39
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
Chicken Bowl,2,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [20]:
fruit = pd.DataFrame({'Apple': [35, 21], 'Bananas': [41, 34]}, index= ['2017 Sales', '2018 Sales'])
fruit

            Apple  Bananas
2017 Sales     35       41
2018 Sales     21       34

In [22]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index= ['Flour', 'Milk', 'Eggs', 'Spam'], name= 'Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [23]:
fruit.to_csv('fruit.csv')

In [24]:
pd.read_csv('fruit.csv')

   Unnamed: 0  Apple  Bananas
0  2017 Sales     35       41
1  2018 Sales     21       34

In [25]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [53]:
fruit.iloc[-1:]

            Apple  Bananas
2018 Sales     21       34

In [54]:
fruit.Apple == 21

2017 Sales    False
2018 Sales     True
Name: Apple, dtype: bool

In [65]:
test_data = pd.read_csv('mobile_sales.csv')
test_data

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,2024-04-05,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,2024-02-13,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,2024-04-17,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,2024-06-02,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online
...,...,...,...,...,...,...,...,...,...,...,...
995,41f08915-addb-4966-8628-038c479c619a,2024-01-28,challenge,Brooks Ltd,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
996,bcfa1912-5bd8-4894-900f-376fa48f022d,2024-07-13,least,"Lang, Brown and Stone",1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
997,e6839305-a177-4cda-aada-3ac1f49eeeec,2024-01-13,enjoy,"Atkinson, Moore and Nelson",544.31,59,1381.82,26,Female,Barneschester,Credit Card
998,12f7ac32-9063-4ae5-a122-385b06ba77af,2024-01-25,half,"Kim, Maxwell and Moore",331.98,84,8557.32,20,Male,Jonesborough,Online
999,d3e82026-2084-40f2-8d5d-d2a94a198af9,2024-01-17,fill,Wallace LLC,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [60]:
test_data.set_index('Brand')

,TransactionID,Date,MobileModel,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
Brand,,,,,,,,,,
Green Inc,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,1196.95,85,28002.80,32,Female,Port Erik,Online
Thomas-Thompson,4f87d114-f522-4ead-93e3-f336402df6aa,2024-04-05,right,1010.34,64,2378.82,55,Female,East Linda,Credit Card
Sanchez-Williams,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,2024-02-13,summer,400.80,95,31322.56,57,Male,East Angelicastad,Online
Greer and Sons,7da7de95-f772-4cc2-bce0-b0873f98233e,2024-04-17,keep,338.60,79,31159.75,46,Other,East Kevin,Cash
Brown and Sons,469044af-0d60-4d87-af66-c6603e844057,2024-06-02,option,839.79,41,11523.36,38,Male,New Lindaborough,Online
...,...,...,...,...,...,...,...,...,...,...
Brooks Ltd,41f08915-addb-4966-8628-038c479c619a,2024-01-28,challenge,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
"Lang, Brown and Stone",bcfa1912-5bd8-4894-900f-376fa48f022d,2024-07-13,least,1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
"Atkinson, Moore and Nelson",e6839305-a177-4cda-aada-3ac1f49eeeec,2024-01-13,enjoy,544.31,59,1381.82,26,Female,Barneschester,Credit Card
"Kim, Maxwell and Moore",12f7ac32-9063-4ae5-a122-385b06ba77af,2024-01-25,half,331.98,84,8557.32,20,Male,Jonesborough,Online
Wallace LLC,d3e82026-2084-40f2-8d5d-d2a94a198af9,2024-01-17,fill,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [64]:
test_data.loc[test_data.Brand == 'Green Inc']

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,Green Inc,1196.95,85,28002.8,32,Female,Port Erik,Online

In [66]:
test_data.columns

Index(['TransactionID', 'Date', 'MobileModel', 'Brand', 'Price', 'UnitsSold',
       'TotalRevenue', 'CustomerAge', 'CustomerGender', 'Location',
       'PaymentMethod'],
      dtype='object')

In [67]:
test_data.shape

(1000, 11)

In [68]:
test_data.describe()

             Price    UnitsSold   TotalRevenue  CustomerAge
count  1000.000000  1000.000000    1000.000000  1000.000000
mean    807.512970    50.074000   40218.445040    41.141000
std     402.489878    28.616804   32715.290358    13.528346
min     103.320000     1.000000     116.850000    18.000000
25%     458.037500    25.000000   13316.037500    29.000000
50%     823.730000    51.000000   30860.655000    41.000000
75%    1157.875000    75.000000   60770.435000    53.000000
max    1499.250000    99.000000  141411.840000    64.000000

In [69]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TransactionID   1000 non-null   object
 1   Date            1000 non-null   object
 2   MobileModel     1000 non-null   object
 3   Brand           1000 non-null   object
 4   Price           1000 non-null   float64
 5   UnitsSold       1000 non-null   int64
 6   TotalRevenue    1000 non-null   float64
 7   CustomerAge     1000 non-null   int64
 8   CustomerGender  1000 non-null   object
 9   Location        1000 non-null   object
 10  PaymentMethod   1000 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 86.1+ KB

In [70]:
test_data.notnull()

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,True,True
996,True,True,True,True,True,True,True,True,True,True,True
997,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True,True,True,True

In [75]:
test_data.loc[test_data.Brand.notnull()]

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,2024-04-05,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,2024-02-13,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,2024-04-17,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,2024-06-02,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online
...,...,...,...,...,...,...,...,...,...,...,...
995,41f08915-addb-4966-8628-038c479c619a,2024-01-28,challenge,Brooks Ltd,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
996,bcfa1912-5bd8-4894-900f-376fa48f022d,2024-07-13,least,"Lang, Brown and Stone",1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
997,e6839305-a177-4cda-aada-3ac1f49eeeec,2024-01-13,enjoy,"Atkinson, Moore and Nelson",544.31,59,1381.82,26,Female,Barneschester,Credit Card
998,12f7ac32-9063-4ae5-a122-385b06ba77af,2024-01-25,half,"Kim, Maxwell and Moore",331.98,84,8557.32,20,Male,Jonesborough,Online
999,d3e82026-2084-40f2-8d5d-d2a94a198af9,2024-01-17,fill,Wallace LLC,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [78]:
sum(test_data.Price)

807512.9699999999

In [79]:
sum(test_data.Price)/len(test_data.Price)

807.5129699999999

In [94]:
min(test_data.Brand)

'Adams Group'

In [90]:
test_data == 'Adams Group'

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False