In [1]:
import pandas as pd

Importing pandas library. right now there is pandas ai available. it is great to do analysis on data but to integrate into ML i think pandas is great for now atleast.

In [ ]:
pd.DataFrame({'One': [1, 2, 3], 'Two': [4, 5, 6]}, index= ['A', 'B', 'C'])

Data Frame can have many column.ax

In [ ]:
pd.Series([1, 2, 3, 4, 5], index= ['A', 'B', 'C', 'D', 'E'], name= 'Random')

Series is a single column data frame.

In [ ]:
pd.read_csv('fruit.csv')

Reading a csv file

In [2]:
test_data = pd.read_csv('mobile_sales.csv')

Reading a csv file and storing it in a variable.

In [3]:
test_data.columns

Index(['TransactionID', 'Date', 'MobileModel', 'Brand', 'Price', 'UnitsSold',
       'TotalRevenue', 'CustomerAge', 'CustomerGender', 'Location',
       'PaymentMethod'],
      dtype='object')

Shows the columns of the data frame.

In [ ]:
test_data.shape

Shows the no. of rows and columns of the data frame.

In [ ]:
test_data.describe()

shows the brief description of the data frame.

In [ ]:
test_data.info()

show the type of data in the dataframe.

In [ ]:
test_data.notnull()

Shows the data which is not null -> Boolean values.

In [ ]:
test_data.loc[test_data.Brand.notnull()]

Shows the data which is not null.

In [ ]:
sum(test_data.Price)

In [ ]:
sum(test_data.Price)/len(test_data.Price)

In [ ]:
min(test_data.Brand)

In [ ]:
test_data.loc[test_data.Brand == 'Adams Group']

Shows the data where Brand is 'Adams Group'

In [4]:
test_data.loc[0,"Date"]

'2024-01-06'

In [5]:
r = [2,3,6]
c = [3, 4, 5]
test_data.iloc[r, c]

              Brand   Price  UnitsSold
2  Sanchez-Williams  400.80         95
3    Greer and Sons  338.60         79
6      Coleman-Pena  975.77         63