In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('train.csv')

In [ ]:
data.head()

In [ ]:
data.describe()

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   812 non-null    int64
 1   DATE         812 non-null    object
 2   LATITUDE_A   812 non-null    float64
 3   LONGITUDE_A  812 non-null    float64
 4   ELEVATION_A  812 non-null    int64
 5   PRCP_A       251 non-null    float64
 6   SNWD_A       812 non-null    float64
 7   TMAX_A       567 non-null    float64
 8   TMIN_A       289 non-null    float64
 9   TAVG_A       742 non-null    float64
 10  LATITUDE_B   812 non-null    float64
 11  LONGITUDE_B  812 non-null    float64
 12  ELEVATION_B  812 non-null    int64
 13  PRCP_B       812 non-null    int64
 14  SNWD_B       812 non-null    float64
 15  TMAX_B       812 non-null    float64
 16  TMIN_B       812 non-null    float64
 17  TAVG_B       742 non-null    float64
 18  LATITUDE_C   812 non-null    float64
 19  LONGITUDE_C  812 non-null    float64
 20  ELEVATION_C  812 non-null    int64
 21  PRCP_C       605 non-null    float64
 22  SNWD_C       812 non-null    float64
 23  TMAX_C       573 non-null    float64
 24  TMIN_C       341 non-null    float64
 25  TAVG_C       683 non-null    float64
 26  LATITUDE     812 non-null    float64
 27  LONGITUDE    812 non-null    float64
 28  TAVG         812 non-null    float64
dtypes: float64(23), int64(5), object(1)
memory usage: 184.1+ KB

In [26]:
data.isnull().sum()

Unnamed: 0       0
DATE             0
LATITUDE_A       0
LONGITUDE_A      0
ELEVATION_A      0
PRCP_A         561
SNWD_A           0
TMAX_A         245
TMIN_A         523
TAVG_A          70
LATITUDE_B       0
LONGITUDE_B      0
ELEVATION_B      0
PRCP_B           0
SNWD_B           0
TMAX_B           0
TMIN_B           0
TAVG_B          70
LATITUDE_C       0
LONGITUDE_C      0
ELEVATION_C      0
PRCP_C         207
SNWD_C           0
TMAX_C         239
TMIN_C         471
TAVG_C         129
LATITUDE         0
LONGITUDE        0
TAVG             0
dtype: int64

In [27]:
cty = {'A': {'TMAX': 0, 'TMIN': 0, 'TAVG': 0, 'PRCP': 0, 'SNWD': 0}, 'B': {'TMAX': 0, 'TMIN': 0, 'TAVG': 0, 'PRCP': 0, 'SNWD': 0}, 'C': {'TMAX': 0, 'TMIN': 0, 'TAVG': 0, 'PRCP': 0, 'SNWD': 0}}
# cty = {'A': 0, 'B': 0, 'C': 0}
# fld = {'TMAX': 0, 'TMIN': 0, 'TAVG': 0, 'PRCP': 0, 'SNWD': 0}
# cty = {i: fld for i, x in cty.items()}
# print(cty)
for x, dat in enumerate(data.itertuples()):
    for key, val in cty.items():
        for ind, tvl in val.items():
            rem = list(val.keys())
            rem.remove(ind)
            if pd.isna(getattr(dat, f'{ind}_{key}')):
                v1, v2 = getattr(dat, f'{rem[0]}_{key}'), getattr(dat, f'{rem[1]}_{key}')
                if not pd.isna(v1) and not pd.isna(v2) and ind != 'PRCP' and ind != 'SNWD':
                    data.loc[x, f'{ind}_{key}'] = ((2 * v2) - v1) if ind in ['TMAX', 'TMIN'] else ((v1 + v2) / 2)
                    cty[key][ind] += 1
                else:
                    rec = list(cty.keys())
                    rec.remove(key)
                    for ciy in rec:
                        if not pd.isna(getattr(dat, f'{ind}_{ciy}')):
                            data.loc[x, f'{ind}_{key}'] = float(getattr(dat, f'{ind}_{ciy}'))
                            cty[key][ind] += 1
                            break
        #%%
print(cty)

{'A': {'TMAX': 245, 'TMIN': 523, 'TAVG': 70, 'PRCP': 561, 'SNWD': 0}, 'B': {'TMAX': 0, 'TMIN': 0, 'TAVG': 70, 'PRCP': 0, 'SNWD': 0}, 'C': {'TMAX': 239, 'TMIN': 471, 'TAVG': 129, 'PRCP': 207, 'SNWD': 0}}

In [28]:
data.isnull().sum()

Unnamed: 0     0
DATE           0
LATITUDE_A     0
LONGITUDE_A    0
ELEVATION_A    0
PRCP_A         0
SNWD_A         0
TMAX_A         0
TMIN_A         0
TAVG_A         0
LATITUDE_B     0
LONGITUDE_B    0
ELEVATION_B    0
PRCP_B         0
SNWD_B         0
TMAX_B         0
TMIN_B         0
TAVG_B         0
LATITUDE_C     0
LONGITUDE_C    0
ELEVATION_C    0
PRCP_C         0
SNWD_C         0
TMAX_C         0
TMIN_C         0
TAVG_C         0
LATITUDE       0
LONGITUDE      0
TAVG           0
dtype: int64

In [29]:
data

,Unnamed: 0,DATE,LATITUDE_A,LONGITUDE_A,ELEVATION_A,PRCP_A,SNWD_A,TMAX_A,TMIN_A,TAVG_A,...,LONGITUDE_C,ELEVATION_C,PRCP_C,SNWD_C,TMAX_C,TMIN_C,TAVG_C,LATITUDE,LONGITUDE,TAVG
0,0,01-11-1979,63.88,77.52,128,0.0,0.0,17.60,8.32,12.96,...,78.93,64,0.0,0.00,18.70,29.84,12.96,63.933,78.733,9.3
1,1,13-11-1979,63.88,77.52,128,0.0,0.0,8.80,-8.80,0.00,...,78.93,64,0.0,0.00,11.00,-3.80,2.04,63.933,78.733,2.7
2,2,05-02-1980,63.88,77.52,128,0.0,0.0,-9.90,-25.62,-17.76,...,78.93,64,0.0,0.00,-9.90,-17.52,-16.56,63.933,78.733,-16.0
3,3,23-12-1979,63.88,77.52,128,0.0,0.0,-4.58,-4.30,-4.44,...,78.93,64,0.0,0.00,0.00,-5.28,-2.64,63.933,78.733,-3.2
4,4,07-06-1977,63.88,77.52,128,0.0,0.0,39.60,15.48,27.54,...,78.93,64,0.0,3.82,38.50,17.10,33.00,63.933,78.733,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,807,26-10-1979,63.88,77.52,128,0.0,0.0,21.40,9.52,15.36,...,78.93,64,0.0,0.00,21.40,9.52,17.76,63.933,78.733,12.7
808,808,06-11-1977,63.88,77.52,128,0.0,0.0,12.10,23.99,10.32,...,78.93,64,0.0,0.00,23.08,3.80,13.44,63.933,78.733,7.8
809,809,30-01-1979,63.88,77.52,128,0.0,0.0,-3.30,-13.76,-11.04,...,78.93,64,0.0,0.00,-1.10,-14.25,-10.80,63.933,78.733,-8.8
810,810,06-10-1979,63.88,77.52,128,0.0,0.0,15.40,6.20,10.80,...,78.93,64,0.0,0.00,15.40,13.40,14.40,63.933,78.733,12.4
811,811,28-02-1978,63.88,77.52,128,0.0,0.0,-2.20,-16.52,-9.36,...,78.93,64,0.0,0.00,1.10,-12.38,-5.64,63.933,78.733,-6.8

In [ ]:
# Cleared data