In [1]:
import pandas as pd

Importing pandas library. right now there is pandas ai available. it is great to do analysis on data but to integrate into ML i think pandas is great for now atleast.

In [4]:
pd.DataFrame({'One': [1, 2, 3], 'Two': [4, 5, 6]}, index= ['A', 'B', 'C'])

   One  Two
A    1    4
B    2    5
C    3    6